.box {
    max-width: 400px;

    figure {
        height: 500px;

        img {
            height: 100%;
            object-fit: cover;
        }
    }

    .info {
        padding: 30px;

        a {
            h2 {
                font-weight: 500;
                font-size: 35px;
                text-transform: uppercase;
                margin-bottom: 30px;

                &:hover {
                    color: #ea4798;
                }
            }
        }

        p {
            font-size: 18px;
            font-weight: 300;
        }
    }
}